
:root {
    --base: #EBDF00;
    --spacing: 10px;
    --blur: 0px; 
    --grayscale: 0px;
    --hue-rotate: 0deg;
    --contrast: 100%;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur)) grayscale(var(--grayscale)) hue-rotate(var(--hue-rotate)) contrast(var(--contrast));
    width: 520px;
    height: 420px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 60px;
}

.body {
    background-color: #7B7E15;
    font-family: Indie Flower;
}

.container-fluid {
    margin-top: 20px;
    font-size: 50px;
    color: white;
    color: var(--base);
}


#controls {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 16px;
}